{% extends 'base.html' %}

{% block title %}Signup{% endblock %}
{% block heading %}Signup{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6 card" style="margin-left: 30%;padding: 20px;margin-top:7%;">
            <form method="POST">
                {% csrf_token %}
                <h2 class="pb-2 text-center">Signup</h2 class="pb-2">
                <input type="text" name="username" class="form-control" placeholder="Username" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <input type="text" name="email" class="form-control" placeholder="Email" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <input type="text" name="phone" class="form-control" placeholder="Phone" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <input type="password" name="password1" class="form-control" placeholder="Password" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}