{% extends 'base.html' %}
{% load static %}

{% block title %}Watch Data{% endblock %}

{% block top %}

{% endblock %}

{% block heading %}Watch Data{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 card" style="height:300px;margin-top:0;">
            <h3 style="margin-top:30px;margin-bottom:10px;font-weight: 350;border-bottom: 2px solid  #00bcd4;"> Watch ID: {{watch.id}} </h3>
            
            <span>Owner: {{watch_json.owner}}</span>
            <span>Location: {{watch.full_location}}</span>
            <span>Home: {{watch.get_home_coordinates.0}}, {{watch.get_home_coordinates.1}}</span><br>
            <span>Trusted Contacts: </span><br>
            <ul>
                {% for contact in watch.trusted_users.all %}
                <li>{{contact.username}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 card" style="height:300px;margin-top:0;">

        </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table"    >
                    <tr style="border-bottom: 2px solid #dbdbdb;">
                        <th>Timestamp</th>
                        <th>Heartrate</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                {% for data in history %}
                    <tr style="border-bottom: 1px solid #dbdbdb;">
                        <td>{{data.timestamp|date:"M d, Y h:i:s A"}}</td>
                        <td>{{data.heartrate}}</td>
                        <td>{{data.get_coordinates.0}}</td>
                        <td>{{data.get_coordinates.1}}</td>
                    </tr>

                {% endfor %}
                </table>
            </div>
    </div>
</div>

{% endblock %}