{% extends 'base.html' %}
{% load static %}

{% block title %}My Watches{% endblock %}

{% block top %}
  <!-- HereMaps -->
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
  </script>
{% endblock %}

{% block heading %}My Watches{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6 card" style="height:230px;">
            {% if success %}
                <div class="alert alert-success">Watch added!</div>
            {% endif %}
            <h3 style="border-bottom:1.5px solid #f44336;font-weight:400;">Enter watch ID to add</h3>
            <form method="POST">
                {% csrf_token %}
                <label for="id">Watch ID</label>
                <input type="text" name="id" class="form-control" style="background-image: linear-gradient(0deg,#00bcd4 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);"><br>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 style="border-bottom:1.5px solid #f44336;font-weight:400;">Your Watches</h3>
        </div>
        {% for watch in watches %}  
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card" style="padding: 0 0 0 0;">
                <div class="card-body" style="padding: 0 0 0 0;">

                    {% if watch.coordinates %}
                    <div style="width: 540px; height: 250px" class="card-img-top" id="map{{watch.id}}">
                    {% else %}
                    <div class="card-body pt-1 pl-2" style="width: 540px; height: 250px">No Location Available</div>
                    {% endif %}
                    </div>
                    <a href="{% url 'full-data' watch.id %}"><div class="card-title pt-2 pl-2 pb-1">
                            <div class="col-xs-4"><b>Watch ID: {{watch.id}}</b></div>
                            <div class="col-xs-4">Owner: {{watch.owner}} <a href="tel: {{watch.owner_phone}}"><i class="fa fa-phone"></i></a></div>
                            {% if watch.type_of_attack %}
                            <div class="col-xs-4">Status: <span style="color: red;">{{watch.get_type_of_attack_display}}</span></div>
                            {% else %}
                            <div class="col-xs-4">Status: <span style="color: rgb(85, 255, 0);">Safe</span></div>
                            {% endif %}
                    </div></a>
                    <div class="card-text pl-2 pb-1 text-center">
                        <button type="button" class="btn btn-danger" onclick="attack_pressed({{watch.id}})">{% if watch.type_of_attack %}Cancel{% else %}Simulate Attack{% endif %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

  <!-- HereMaps -->
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
  <!-- Custom JS -->

  <script type="text/javascript" charset="utf-8">
    attack_pressed = function(wid) {
        fetch(window.location.href.split('/').slice(0,3).join('/')+'/api/attack-pressed/'+wid.toString()).then(
            setTimeout(function(){ window.location.reload() }, 500)
        );
    }


    var platform = new H.service.Platform({
        'apikey': 'lQdCCkaHvK_RqYJqu0FX8UoJIU-pSX-s79deRCF2otA'
    });

    var geocoder = platform.getGeocodingService();

    // Obtain the default map types from the platform object:
    var defaultLayers = platform.createDefaultLayers();

        {% for watch in watches %}
        {% if watch.coordinates %}
        var map = new H.Map(
            document.getElementById('map{{watch.id}}'),
            defaultLayers.vector.normal.map,
            {
                zoom: 12,
                center: {lat: {{watch.coordinates.0}}, lng: {{watch.coordinates.1}}}
            }
        );

        // resize on window resize
        window.addEventListener('resize', function () {
            map.getViewPort().resize();
        });

        var animatedSvg =
        '<svg height="100" width="100"><circle cx="15" cy="15" r="10" stroke="black" stroke-width="3" fill="#00bcd4" /></svg>';

        // Create an icon object, an object with geographic coordinates and a marker:
        var icon = new H.map.DomIcon(animatedSvg),
            coords = {lat: {{watch.coordinates.0}}, lng: {{watch.coordinates.1}}},
            marker = new H.map.DomMarker(coords, {icon: icon});

        // Set map center and zoom, add the marker to the map:
        map.setCenter(coords);
        map.addObject(marker);

        {% endif %}
        {% endfor %}
  </script>
{% endblock %}